<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>PlayMarket App Permissions Parser</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/site.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/container.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/grid.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/image.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/divider.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/segment.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/input.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/button.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/message.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/icon.css' %}">

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/site.js' %}"></script>
  <script src="{% static 'js/form.js' %}"></script>
  <script src="{% static 'js/transition.js' %}"></script>

  <style type="text/css">
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
    .permissions {
      background-color: #fff;
      padding: 10px;
      text-align: left;
    }
    .permissions h2, .permissions h3 {
      margin: 0;
      padding: 0
    }
    ul#permissions-list {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    ul#permissions-list li {
      margin: 10px 0;
      border-bottom: 1px solid #cecece;
    }
    ul#permissions-list li p {
      margin: 0
    }
    ul#permissions-list li span {
      font-size: 0.75rem;
      line-height: 0.8rem;
    }
    .ui[class*="middle aligned"].grid > .column:not(.row) {
        align-self: auto !important;
    }
  </style>
  <script>
  $(document)
    .ready(function() {
      $('.ui.form')
        .form({
          fields: {
            email: {
              identifier  : 'text',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter APP ID'
                },
              ]
            }
          }
        })
      ;
    })
  ;
  </script>
</head>
<body>

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <img src="https://trashbox.ru/files/499657_56f35b/google-play-logo.png" class="image">
      <div class="content">
        Play Market App Permissions Parser
      </div>
    </h2>
    <form class="ui large form" id="permissions-form" method="POST">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <input required type="text" name="appid" id="appid" placeholder="App ID (ex. org.telegram.messenger)">
          </div>
        </div>
        <div class="field">
            <select class="ui search selection dropdown" name="hl" id="hl">
              <option value="en">EN</option>
              <option value="ru">RU</option>
            </select>
        </div>
        <button class="ui fluid large teal button" type="submit">&#8680;</button>
      </div>
      <div class="ui error message"></div>

    </form>

    <div class="permissions" id="permissions">
      <div class="" id="app-info">

      </div>
      <ul id="permissions-list">

      </ul>
    </div>
  </div>
</div>

</body>

</html>
